body{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
nav.navbar{
    margin: 0;
    padding: 0;
}
.navbar #firstnavbar{
    background: #2c3f4f;
}
.navbar #firstnavbar ul li a{
    color:#f5f5f5;
}
.navbar #secondnavbar ul{
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 0;
    padding: 0;
}
.icon-bar{
    background: #AB2310;
}
.navbar #secondnavbar ul li a:hover{
    background: none;
    color: #800000;
}
.navbar #secondnavbar ul li a{
    font-family:Times, serif;
}
.navbar #firstnavbar ul li a:hover{
    background: none;
    color: #E4D588;
    border-bottom: 1px solid #E4D588;
    padding-bottom: 2px;
}

section.header {
    margin-top:0px;
    background: #800000;
}
section.header .carousel-text{
    background: #4f6e88;
    padding:20px 40px;
    color: #f5f5f5;
    font-family:Times, serif;
}
section.header .carousel-text h1{
    margin-top: 0;
    padding-left: 50px;
    text-align: center;
}
section.header .text2{
    text-align: center;
    font-size: large;
    font-weight: bolder;
}
section.header a.btn, section .explanation a.btn {
    display: inline-block;
    padding: 20px 30px;
    background: #AB2310;
    color: #fff;
    border: none;
   
  }
  section.header a.btn:hover,section .explanation a.btn:hover{
      background:#2c3f4f;;
  }

  /* abiout us  */
  section.about-us{
      padding: 70px 10px;
      font-family:Times, serif;
  }
  
  section.about-us p{
      padding:20px;
      color:#555555;
  }
  section.about-us .box{
      background: #fff;
      box-shadow:2px 1px 10px 0.5px rgb(163, 161, 161);
  }
  section.about-us a{
      transition: 1s;
  }
  section.about-us a:hover{
      color:#AB2310;
      transform: rotate(30deg);
  }

  /* popular courses */

  section.popular-courses{
      padding: 20px 10px;
      font-family:Times, serif;
  }
  section.popular-courses .box{
    background: #fff;
    border-top-right-radius: 20px;
    box-shadow:2px 1px 10px 0.5px rgb(163, 161, 161);
    margin: 10px;
    transition:0.8s;
    padding: 10px;
}
section.popular-courses a:hover{
color: #ffffff;
}
section.popular-courses .box:hover{
    background:linear-gradient(#7aadd6,#4f6e88);
    color:#ffffff;
    transform: 2s;
}
section.popular-courses .explanation{
margin:10px 10px;
padding:30px 5px;
}
section.popular-courses .explanation h3{
    border-left: 3px solid #AB2310;
    padding-left: 10px;
    
}
section.popular-courses .explanation p{
    letter-spacing: 0.6px;
}
section.popular-courses .explanation .img-box{
    box-shadow:2px 1px 10px  rgb(163, 161, 161);
}
section.popular-courses .information{
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section.popular-courses .information a:hover{
    color:  #AB2310;
    text-decoration: none;
    
}

/* contact */

section.contact {
margin: 20px 10px;
font-family:Times, serif;
}
section.contact .col-md-6 form .col-md-6{
   padding-bottom:20px;
}

/* footer  */

footer{
    background:#03355e;
    color: #f5f5f5;
    font-size: 10px;
    padding: 10px;
    list-style: none;
    font-family:Times, serif;
}
footer a.btn{
    background: none;
    color: #fff;
    margin-top: 20px; 
    
}
footer a.btn:hover{
    background: none;
    border: 2px solid #AB2310;
    color: #fff;
    padding: none;
}
footer ul{
    padding-left: 0px;
}
footer ul li{
     list-style:none ;
     margin-left: 0px;
     padding:1px;
     
}
footer ul.training li a{
    color:#f5f5f5;
    font-size: 13px;
    transition: .2s;
}
footer ul li a:hover{
    color: #fff;
    text-decoration: none;
    padding-left:2px;
}
footer h3{
    border-left: 2px solid #AB2310;
    padding-left: 5px;
}
footer h4{
    color: rgb(172, 172, 172);
    padding-left: 5px;
    padding-top: 5px;
}
.footere{
    background: #3a3a3a;
    color: #f5f5f5;
    padding: 3px 10px;
}

/* media query */

@media screen and (max-width:768px){
    section.header {
        margin-top:40px;
        background: #800000;
    }
}